<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"50px","bottom":"50px"}}}} -->
<main class="wp-block-group" style="padding-top:50px;padding-bottom:50px">
	<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"30px"}}}} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
